<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AllowedSubtitles" value="D1A.SRT|DK.SRT" />
    <add key="SubDirNames" value="su1b|sub|subtitles|undertekster" />
    <add key="PathWorkingFolderMovie" value="\\serve1r\download\Flyttes\Film\" />
    <add key="PathNfo" value="\\server1\download\Flyttes\Extra\NFOs\" />
    <add key="pathFlyttes" value="\\server1\download\Flyttes\" />
  </appSettings>
</configuration>