<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AllowedSubtitles" value="DA.SRT|DK.SRT" />
    <add key="SubDirNames" value="su1b|sub|subtitles|undertekster" />
    <add key="PathWorkingFolderMovie" value="C:\T\F\" />
    <add key="PathNfo" value="C:\t1\nfso\" />
    <add key="pathFlyttes" value="C:\T\" />
  </appSettings>
</configuration>